.pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  li {
    list-style: none;
    border: 1px solid blue;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
  }
}
