.seeBlocks {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid #3dd1e7;

  border-top: 2px solid #3dd1e7;
}
